body{
	background-image: url(image/docomotower.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#wrapper{
	width: 1000px;
	border: 2px solid black;
	margin: 0 auto;
	background-color: white;
}

header, nav, main, footer{
	padding: 1px 30px;
}

header, nav{
	background-color: darkslategray;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

header h1, h2{
	text-align: center;
	margin: 10px auto;
}

header h1{
	margin: 25px auto 25px auto;
}

header h1 a{
	text-decoration: none;
	color: white;
	font-size: 40px;
	border: 3px double white;
	padding: 5px 10px;
}

header h1 a:hover{
	background-color: white;
	color:darkslategray;
	transition: 0.5s;
}

nav{
	text-align: center;
}

nav ul li{
	display: inline-block;
	text-align: center;
	background-color: teal;
	margin: 0 5px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	display : inline-block;
	width: 250px;
	text-align: center;
	padding: 5px 15px;
}

nav ul li a:hover{
	background-color: white;
	color:teal;
	transition: 0.5s;
}

h3{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 25px;
	margin-bottom: 0;
}

p{
	font-family: 'Montserrat', sans-serif;
}

.text-wrapper{
	width: 57%;
	float: left;
}

img{
	width: 40%;
	float: right;
}

.clear{
	clear: both;
}

footer{
	border-top: 3px double black;
}