body{
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

.container{
	padding: 0 15px;
	margin: 0 auto;
}

header{
	background-image: url(image/docomotower.JPG);
	background-size: cover;
	height:1100px;
	padding: 20px;
}

.header-txt{
	height: 75px;
	background-color: rgba(255, 255, 255, 0.8);
	width:100%;
	position:fixed;
	top: 0;
	left: 0;
	padding: 0 15px;
	display: flex;
}

header h1{
	font-size: 40px;
}

header h2{
	font-weight: normal;
	font-size: 25px;
	padding: 19px;
}

nav{
	text-align: center;
}

nav ul li{
	border: 1px solid black;
	width: 280px;
	display: inline-block;
	text-align: center;
	margin: 5px 5px;
	background-color: lightblue;
}

a{
	text-decoration: none;
	color: black;
	display: inline-block;
}

nav ul li a{
	width: 280px;
	padding: 5px 0;
}

img{
	width: 450px;
	height: 300px;
}

p{
	font-size: 18px;
}

li{
	font-size: 18px;
	list-style-type: none;
}

.title{
	background-color: darkslategray;
	color: white;
	padding: 10px 20px;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.subtitle{
	background-color: teal;
	color: white;
	padding: 5px 0;
	width: 200px;
	text-align: center;
	font-weight: normal;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.imformation-wrapper{
	padding-bottom: 10px;
	border-bottom: 5px double black;
}

.fee-wrapper{
	border-bottom:1px solid lightblue;
}

.open-wrapper{
	border-bottom:1px solid lightblue;
}

.history-txt{
	display: flex;
}

.access{
	display: flex;
}

.access img{
	padding-left: 40px;
}
.clear{
	clear:left;
	clear:right;
}
