body {
    margin: 0px;
    background-color: rgb(150,200,255);
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin: 20px 0px 0px;
    font-family: 'Abril Fatface', cursive;
    font-size: 34pt;
}
h2 {
    margin: 10px 0px 0px;
    font-family: 'Exo', sans-serif;
}
nav ul {
    padding: 0px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 190px;
    text-align: center;
    border: 1px solid black;
    border-radius: 0px;
    background-color: rgb(255,255,255);
}
nav ul li a {
    display: inline-block;
    width: 180px;
    padding: 5px;
    text-decoration: none;
}
footer {
    clear: both;
    border-top: 1px solid rgb(210,150,50);
}